<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <h1>Hello Added score</h1>
    <form action="/result" method="post">
      <label for="ko">korean</label>
      <input type="text" id="ko" name="ko" /><br />
      <label for="math">Math</label>
      <input type="text" id="math" name="math" /><br />
      <label for="eng">eng</label>
      <input type="text" id="eng" name="eng" /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
