<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <label for="username">ID</label>
      <input type="text" id="username" name="username" /><br />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" /><br />

      <label for="password-cheak">Password-cheak</label>
      <input type="password" id="password-cheak" name="password-cheak" /><br />

      <button type="submit">signup</button>
    </form>

    <h1>Sign up</h1>

    <a href="/">GO Login page</a>
  </body>
</html>
